.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
    row-gap: 33px;

    @media ($lg) {
        gap: 8px;
    }

    &__item {
        background: rgba(255,255,255,.35);
        border-radius: 15px;
        display: block;
        min-height: 175px;
        overflow: hidden;
        padding: 15px;
        position: relative;
        color: var(--white-color);

        &::after {
            content: '';
            right: 0;
            position: absolute;
            background: url("/src/assets/upload/about/experts-card-bg.png") no-repeat bottom right;
            background-size: contain;
            width: 100%;
            height: calc(85%);
            bottom: 0px;
        }

        @media ($lg) {
            min-height: 90px;
        }
        @media ($sm) {
            min-height: 120px;
        }

        &-name {
            font-family: var(--font-title);
            font-size: 1.25rem;
            font-weight: bold;
            position: relative;
            z-index: 2;
            max-width: 70%;

            @media ($lg) {
                font-size: 1.125rem;
            }
            @media ($sm) {
                font-size: 1rem;
            }
        }
        &-img {
            bottom: 0;
            max-height: 100%;
            max-width: 80%;
            object-fit: contain;
            object-position: right bottom;
            position: absolute;
            right: 0;
            z-index: 1;
        }
    }
}