.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @media ($lg) {
        grid-template-columns: 1fr;
    }
    @media ($sm) {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    &__item {
        background: var(--white-color) url("/src/assets/upload/about/experts-card-bg.png") no-repeat bottom right;
        background-size: contain;
        border-radius: 15px;
        color: var(--text-color);
        display: block;
        min-height: 151px;
        overflow: hidden;
        padding: 15px;
        position: relative;

        @media ($lg) {
            min-height: 90px;
        }
        @media ($sm) {
            min-height: 120px;
        }

        &-name {
            font-family: var(--font-title);
            font-size: 1.25rem;
            font-weight: bold;
            position: relative;
            z-index: 2;

            @media ($lg) {
                font-size: 1.125rem;
            }
            @media ($sm) {
                font-size: 1rem;
            }
        }
        &-img {
            bottom: 0;
            max-height: 100%;
            max-width: 80%;
            object-fit: contain;
            object-position: right bottom;
            position: absolute;
            right: 0;
            z-index: 1;
        }
    }
}