.blog {
    display: flex;
    flex-direction: column;

    @media ($md-up) {
        margin-bottom: 60px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;

        @media ($lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media ($md) {
            grid-template-columns: auto;
        }
    }

    &__grid-item {
        background: transparent;
        box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0),
        0 7px 30px -4px rgba(12, 12, 13, 0);
        border-radius: 9px;
        display: block;
        padding: 6px;
        transition: all var(--transition-speed);

        &:hover {
            background: var(--white-color);
            box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.5),
                0 7px 30px -4px rgba(12, 12, 13, 0.1);

            .blog__grid-item-img {
                img {
                    transform: scale(1.05);
                }
            }
        }

        &-img {
            border-radius: 9px;
            display: block;
            overflow: hidden;
            width: 100%;
            aspect-ratio: 360/238;
            position: relative;

            img {
                display: block;
                height: 100%;
                left: 0;
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                transform: scale(1);
                transition: all var(--transition-speed);
                width: 100%;
            }
        }
    }

    &__grid-item-info {
        padding: 12px 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__grid-item-info-head {
        color: var(--grey-color);
        font-size: 0.75rem;
        display: flex;
        justify-content: space-between;

        span > span {
            color: var(--blue-color-dark);
        }
    }

    &__grid-item-title {
        font-size: 19px;
        font-weight: 700;
        margin: 0;
        color: var(--black-color) !important;
        font-family: var(--font-title);

        @media ($lg) {
            font-size: .875rem;
        }
    }

    &__grid-item-video {
        display: block;
        position: relative;

        video {
            max-width: 100%;
        }
    }

    .tabs {
        margin-bottom: 30px;
        background: var(--white-color);
        padding: 10px;
        border-radius: 20px;

        @media ($md) {
            margin-bottom: 16px;
        }

        .tabs__list-link {
            color: var(--blue-color);
            min-width: 120px;
            border-radius: 56px;

            @media ($md) {
                min-width: 85px;
            }

            &._current {
                border: 1px solid var(--blue-color);
            }
        }

        &__list {
            max-width: none;
        }
    }
}
