.categories-slider-wrapper {
    overflow: hidden;
    position: relative;
}

.categories-slider {
    display: block;
    position: relative;

    &_horizontal {
        touch-action: pan-y;
    }

    &__wrapper {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    &__item {
        @include sizeSquare(100%);

        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        height: auto !important;

        @media ($lg) {
            width: 283px;
        }
        @media ($md) {
            width: 210px;
        }
        @media ($sm) {
            width: 167px;
        }
    }
}

.category-slider-item {
    background: var(--white-color);
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    position: relative;
    transition: all var(--transition-speed);
    padding: 20px;

    @media ($md) {
        padding: 18px;
    }

    &:hover {
        box-shadow: 0 6px 24px -4px rgba(#0C0C0D, 0.1);

        .category-slider-item__img-container:before {
            transform: scale(3);
        }
    }

    &_primary {
        background: var(--primary-color-2);
        color: var(--white-color);

        &::before {
            background: var(--primary-color);
        }
    }

    &__img-container {
        background: #F8F8F8;
        width: 100%;
        aspect-ratio: 220/193;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin-bottom: 9px;

        @media ($md) {
            aspect-ratio: 321/183;
        }

        &:before {
            @include sizeSquare(95%);
            background: linear-gradient(180deg, #B5D8FF 0%, #93B9FF 100%);
            bottom: -50%;
            left: 50%;
            border-radius: 50%;
            content: '';
            position: absolute;
            transition: all var(--transition-speed);
            transform: scale(1) translateX(-50%);
        }

        img {
            bottom: 0;
            display: block;
            max-height: calc(100% - 20px);
            max-width: 83%;
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @media ($md) {
                max-height: 100%;
            }
        }
    }

    &__more {
        background: transparent;
        border-color: currentColor;
        border-radius: 20px;
        color: inherit;
        padding-inline: 10px;
        transition: all 0;

        .icon {
            @include sizeSquare(17px);

            margin-inline-start: 5px;
        }
    }
    &__name {
        font-size: 16px;
        font-weight: 700;
        position: relative;
    }
}