.categories-slider-wrapper {
    overflow: hidden;
    position: relative;
    
    @media ($lg-up) {
        margin: 0 -32px -24px;
        padding: 0 32px 24px;
    }
}

.categories-slider {
    display: block;
    position: relative;

    &_horizontal {
        touch-action: pan-y;
    }

    &__wrapper {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    &__item {
        @include sizeSquare(100%);

        display: block;
        flex-shrink: 0;
        width: 100%;

        @media ($lg) {
            width: 283px;
        }
        @media ($md) {
            width: 210px;
        }
        @media ($sm) {
            width: 167px;
        }
    }
}

.category-slider-item {
    background: var(--white-color);
    border-radius: 15px;
    color: var(--blue-color);
    display: block;
    overflow: hidden;
    padding-top: 102%;
    position: relative;
    transition: all var(--transition-speed);

    &:hover {
        box-shadow: 0 6px 24px -4px rgba(#0C0C0D, 0.1);
        color: var(--white-color);

        &:before {
            transform: scale(3);
        }
    }

    &:before {
        @include sizeSquare(90%);
        background: var(--primary-color-2);
        bottom: -102px;
        border-radius: 50%;
        content: '';
        right: -25px;
        position: absolute;
        transition: all var(--transition-speed);
        transform: scale(1);
        z-index: 1;
    }

    &_primary {
        background: var(--primary-color-2);
        color: var(--white-color);

        &::before {
            background: var(--primary-color);
        }
    }

    &__cont {
        @include sizeSquare(100%);

        box-sizing: border-box;
        left: 0;
        padding: 25px;
        position: absolute;
        top: 0;
        z-index: 2;

        @media ($lg) {
            padding: 20px;
        }
        @media ($md) {
            padding: 15px;
        }
        @media ($sm) {
            padding: 8px;
        }
    }
    &__actions {
        align-items: center;
        display: flex;
        gap: 12px;
        justify-content: start;
        margin: 0 0 18px;

        @media ($lg) {
            margin: 0 0 12px;
        }
        @media ($md) {
            margin: 0 0 10px;
        }
        @media ($sm) {
            margin: 0 0 8px;
        }
    }
    &__more {
        background: transparent;
        border-color: currentColor;
        border-radius: 20px;
        color: inherit;
        padding-inline: 10px;
        transition: all 0;

        .icon {
            @include sizeSquare(17px);

            margin-inline-start: 5px;
        }
    }
    &__name {
        font-family: var(--font-title);
        font-size: 1.875rem;
        font-weight: 600;
        position: relative;
        z-index: 2;

        @media ($lg) {
            font-size: 1.5rem;
        }
        @media ($md) {
            font-size: 1.25rem;
        }
        @media ($sm) {
            font-size: 1.125rem;
        }
    }
    &__img {
        bottom: 0;
        display: block;
        max-height: 60%;
        max-width: 80%;
        object-fit: contain;
        object-position: right bottom;
        position: absolute;
        right: 0;
    }
}