.my-orders {
    &__main {
        padding: 32px;
        background: var(--white-color);
        border-radius: 15px;
        flex: 1;

        @media ($md) {
            padding: 24px 20px;
        }
    }

    &__main-title {
        margin-bottom: 21px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__item {
        background: #F8F8F8;
        padding: 16px;
        border-radius: 15px;
    }

    &__item-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
        gap: 16px;
        cursor: pointer;

        &._active {
            .my-orders__item-arrow-down-icon {
                transform: rotate(180deg);
                color: var(--blue-color);
            }
        }

        @media ($md) {
            gap: 12px;
            margin-bottom: 14px;
        }
    }

    &__item-date {
        margin-bottom: 0;

        @media ($md) {
            font-size: .875rem;
        }
    }

    &__item-number {
        color: var(--primary-color);
        font-size: 0.75rem;
    }

    &__item-status-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        margin-left: auto;
    }

    &__item-status {
        color: var(--white-color);
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
        padding: 4.5px 7px;
        min-width: 78px;
        border-radius: 56px;
        line-height: 1;

        &_placed {
            background: var(--primary-color);
        }

        &_received {
            background: var(--blue-color-dark);
        }

        &_on-the-way {
            background: var(--blue-color);
        }
    }

    &__item-total-price {
        font-weight: bold;
        font-size: 0.875rem;
        white-space: nowrap;
    }

    &__item-arrow-down-icon {
        @include sizeSquare(25px);

        transform: rotate(0);
        transition: transform 0.3s;
        flex-shrink: 0;
    }

    &__item-main-info {
        display: grid;
        grid-auto-flow: column;
        gap: 42px;

        @media ($md) {
            grid-auto-flow: row;
            gap: 16px;
        }
    }

    &__item-main-info-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
        p {
            margin: 0;

            &:first-child {
                font-weight: bold;
            }

            &:last-child {
                color: var(--grey-color);
            }
        }
    }

    &__item-delivery-and-imgs {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media ($md) {
            flex-direction: column;
        }
    }

    &__item-delivery-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        @media ($md) {
            margin-bottom: 16px;
        }
    }

    &__item-delivery-info-block {
        display: flex;
        gap: 5px;

        p {
            margin: 0;

            &:first-child {
                font-weight: bold;
            }

            &:last-child {
                color: var(--grey-color);
            }
        }

        @media ($md) {
            flex-direction: column;
            align-items: flex-start;

            &::after {
                content: none;
            }

            br {
                display: none;
            }
        }
    }

    &__item-delivery-imgs {
        display: flex;
        gap: 8px;

        img {
            width: 74px;
            height: 74px;
            background: #fff;
            border-radius: 10px;
        }
    }

    &__goods-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 45px;

        @media ($md) {
            padding-top: 21px;
            gap: 20px;
        }
    }

    &__goods-item {
        border-radius: 15px;
        display: flex;
    }

    &__goods-item-img-container {
        position: relative;
        margin-right: 16px;
        width: 131px;
        height: 131px;
        background: var(--white-color);
        border-radius: 10px;
        flex-shrink: 0;

        @media ($md) {
            width: 81px;
            height: auto;
            margin-right: 14px;
        }
    }

    &__goods-item-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    &__goods-item-info {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex: 1;
        justify-content: space-between;

        @media ($md) {
            flex-direction: column;
        }
    }

    &__goods-item-title {
        font-family: var(--font-default);
        font-size: 1rem;
        max-width: 315px;
        margin-bottom: 0;

        @media ($lg) {
            font-size: .875rem;
            max-width: 276px;
        }

        @media ($md) {
            font-size: .75rem;
            max-width: unset;
            margin-bottom: 12px;
            font-weight: 500;
        }
    }

    &__goods-item-delete-btn {
        color: var(--grey-color);
        font-size: .75rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 5px;
        background: none;
        border: none;
        padding: 0;

        svg {
            width: 15px;
            height: 18px;
        }

        @media ($md) {
            display: none;
        }
    }

    &__goods-item-prices {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        white-space: nowrap;

        @media ($md) {
            flex-direction: row;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;
        }
    }

    &__goods-item-actual-price {
        margin-bottom: 0;

        @media ($lg) {
            font-size: 1.25rem;
        }

        @media ($md) {
            font-size: .875rem;
        }
    }

    &__goods-item-old-price {
        color: var(--grey-color);
        font-weight: 600;
        font-size: 1rem;
        text-decoration: line-through;

        @media ($md) {
            font-size: .75rem;
        }
    }

    &__goods-item-settings {
        margin-top: 30px;
        width: 100%;

        @media ($md) {
            display: none !important;
        }
    }
    &__goods-item-setting {
        align-items: center;
        font-size: 0.875rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: .3rem;

        &-name {
            color: var(--grey-color);
            margin-inline-end: .5em;
        }
        &-value {
            font-weight: 700;
        }
    }

    &__goods-item-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn {
            height: 30px;
            color: var(--blue-color);
            border-color: var(--blue-color);
        }
    }

    &__item-footer-btns {
        display: flex;
        gap: 8px;
        margin-top: 4px;

        @media ($md) {
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .btn {
            border-radius: 7px;
            background: var(--blue-color);
            border-color: var(--blue-color);

            &.btn_transparent {
                color: var(--blue-color);
                background: transparent;
            }

            &:hover {
                background: transparent;
                color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
    }

    &__close-info {
        display: flex;
        align-items: end;
        justify-content: space-between;

        @media ($md) {
            flex-direction: column;
            align-items: start;
            gap: 16px;
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: 11px;
            font-size: 14px;

            &-item {
                display: flex;
                align-items: end;
                position: relative;
                font-size: 14px;
                gap: 5px;

                @media ($md) {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    br {
                        display: none;
                    }
                }

                &:first-child {

                    div:nth-child(2) {
                        width: 134px;

                        @media ($xl) {
                            width: 45px;
                        }
                    }
                }
                &:nth-child(2) {

                    @media ($md) {
                        display: none;
                    }

                    div:nth-child(2) {
                        width: 45px;
                    }
                }
                &:last-child {
                    @media ($md-up) {
                        display: none;
                    }
                }

                div:first-child {
                    font-weight: 700;
                }
                div:nth-child(2) {

                    @media ($md-up) {
                        border-bottom: 1px dashed #DADEE5;
                        margin-bottom: 3px;
                    }
                    @media ($md) {
                        color: var(--grey-color);
                    }
                }
                div:last-child {
                    color: var(--grey-color);
                    max-width: 165px;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 12px;
            font-weight: 700;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                gap: 8px;

                li {
                    margin: 0;
                    padding: 0;
                }
            }

            .img-container {
                width: 74px;
                height: 74px;
                overflow: hidden;
                border-radius: 10px;
                background: var(--white-color);

                @media ($md) {
                    width: 64px;
                    height: 64px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .right-more {
                cursor: pointer;
                margin-right: 25px;

                @media ($md) {
                    margin-right: 14px;
                }

                &:hover {
                    color: var(--blue-color);
                }
            }
        }
    }

    &__item-head:has(.my-orders__item-status_received) ~ .my-orders__close-info {
        align-items: start;
    }

    &__item-head._active ~ .my-orders__close-info {
        display: none;
    }
    &__item-head._active ~ .my-orders__item-footer-btns {
        margin-top: 18px;
    }
    &__item-head:not(._active) ~ .my-orders__item-main-info {
        display: none;
    }

    &__mobile-price {
        display: flex;
        margin-top: 49px;
        font-size: 14px;
        font-weight: 700;
    }
}
