.order-info {
    border-radius: 15px;
    background: var(--white-color);
    padding: 26px 22px 21px;
    width: 291px;

    @media ($lg) {
        width: 100%;
    }

    &__title {
        @media ($md) {
            font-size: 1.25rem;
        }
    }

    &__data {
        color: var(--grey-color);
        font-size: .875rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        gap: 6px;
        margin-bottom: 20px;
    
        span {
            &:nth-child(2) {
                flex: 1;
                border-bottom: 1px dashed #E6E6E6;
                margin-bottom: 5px;
            }
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    &__btn1 {
        width: 100%;
        margin-bottom: 5px;

        &.fit {
            min-width: 174px;
            width: fit-content;
            margin-bottom: 16px;
        }
    }

    &__btn2 {
        width: 100%;
        margin-bottom: 10px;
    }

    &__bottom-text {
        color: var(--grey-color);
        font-size: .75rem;
        text-align: center;
        margin: 0;
    }

    .checkbox__text {
        color: var(--black-color);

        span {
            color: #6D6D6D;
        }
    }
}