.pager {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 27px;
    width: 100%;

    &__more {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 0 34px;

        @media ($md) {
            margin: 0 0 16px;
        }

        .btn {
            min-width: 161px;
            background: transparent;
        }
    }
    &__list {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: var(--font-size);
        font-weight: 700;
        gap: 5px;
        justify-content: center;
        line-height: 1.2;

        &-item {
            &._active {
                .pager__list-link {
                    background: var(--text-color);
                    color: var(--white-color);
                }
            }
        }
        &-link {
            align-items: center;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            min-height: 36px;
            min-width: 36px;
            background: #DADEE5;
        }
    }
}