.play {
    width: 47px;
    height: 47px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: rgba(62, 190, 196, 0.54);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: '';
        display: flex;
        width: 35px;
        height: 35px;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35"><path fill-rule="evenodd" clip-rule="evenodd" d="M28.0966 15.2892C28.4342 15.5505 28.7074 15.8856 28.8954 16.2688C29.0834 16.652 29.1812 17.0732 29.1812 17.5C29.1812 17.9269 29.0834 18.3481 28.8954 18.7313C28.7074 19.1145 28.4342 19.4496 28.0966 19.7109C23.7248 23.0925 18.8438 25.7585 13.6358 27.6092L12.6835 27.9475C10.8635 28.5936 8.94142 27.3628 8.69496 25.483C8.00663 20.1833 8.00663 14.8168 8.69496 9.51713C8.94142 7.63734 10.8635 6.4065 12.6835 7.05254L13.6358 7.39088C18.8438 9.24161 23.7248 11.9076 28.0966 15.2892ZM26.7579 17.9813C26.8314 17.9245 26.891 17.8516 26.932 17.7681C26.9729 17.6847 26.9942 17.593 26.9942 17.5C26.9942 17.4071 26.9729 17.3154 26.932 17.232C26.891 17.1485 26.8314 17.0756 26.7579 17.0188C22.5695 13.779 17.8932 11.2247 12.9037 9.4515L11.9514 9.11317C11.8345 9.07478 11.7106 9.06272 11.5885 9.07787C11.4664 9.09301 11.3491 9.13498 11.2451 9.20077C11.1412 9.26656 11.053 9.35454 10.987 9.45839C10.9211 9.56225 10.8789 9.67942 10.8635 9.8015C10.1999 14.9124 10.1999 20.0877 10.8635 25.1986C10.8791 25.3205 10.9214 25.4375 10.9874 25.5412C11.0535 25.6449 11.1417 25.7327 11.2456 25.7983C11.3496 25.864 11.4668 25.9058 11.5888 25.9209C11.7108 25.9359 11.8346 25.9238 11.9514 25.8855L12.9037 25.5486C17.8933 23.7749 22.5696 21.2216 26.7579 17.9813Z" fill="white"/></svg>') no-repeat center;
    }
}