.product-detail {
    margin: 0 0 60px;

    @media ($lg) {
        margin: 0 0 40px;
    }
    @media ($md) {
        margin: 0 0 32px;
    }
    @media ($sm) {
        margin: 0 0 24px;
    }

    &__rating {
        align-items: center;
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
        color: #C6C6C6;

        @media ($lg) {
            margin-bottom: 24px;
        }
        @media ($md) {
            margin-bottom: 20px;
        }
        @media ($sm) {
            margin-bottom: 16px;
        }

        &-value {
            color: #C6C6C6;
        }
    }

    .tabs__list {
        background: #EAEAF5;
        padding: 10px;
        border-radius: 20px;
        max-width: none;

        @media ($sm) {
            padding: 5px;
            margin-bottom: 29px !important;
        }
    }

    .tabs__list-link _current {
        color: var(--blue-color-dark);
    }

    .tabs .d-block {
        background: none;
    }
}

.technical-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    position: relative;

    @media ($lg) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media ($sm) {
        grid-template-columns: 1fr;

        &:not(._active) {
            max-height: 600px;
            overflow: hidden;

            &::after {
                background: linear-gradient(180deg, rgba(#ffffff, 0) 0%, rgba(#ffffff, 1) 100%);
                content: '';
                height: 60px;
                left: 0;
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 3;
            }
        }
    }

    &__item {
        display: block;
    }
    &__title {
        font-family: var(--font-title);
        font-size: 1rem;
        font-weight: 600;
        margin: 0 0 0.25em;

        @media ($sm) {
            font-size: var(--font-size);
        }
    }
    &__value {
        color: #6D6D6D;
    }
}

.description {
    &__content {
        height: auto;
        max-height: 480px;
        overflow: hidden;
        position: relative;
        transition: all var(--transition-speed);

        @media ($lg) {
            max-height: 400px;
        }
        @media ($md) {
            max-height: 320px;
        }
        @media ($sm) {
            max-height: 240px;
        }

        &._active {
            height: auto;
            max-height: 100%;

            &::after {
                display: none;
            }
        }

        p {
            font-size: 20px;

            @media ($lg) {
                font-size: 16px;
            }
            @media ($md) {
                font-size: 14px;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 0;
                margin: 0;
                color: #1C1C1EBA;
                font-size: 14px;
            }
        }
    }
    &__more {
        margin-top: 15px;

        @media ($sm-up) {
            display: none;
        }

        &._active {
            [data-text-show] {
                display: none;
            }
            [data-text-hide] {
                display: block;
            }
        }

        [data-text-show] {
            display: block;
        }
        [data-text-hide] {
            display: none;
        }
    }
}

.product-top {
    display: flex;
    gap: 3%;
    justify-content: start;
    width: 100%;

    @media ($lg) {
        flex-direction: column;
        gap: 16px;
    }
    @media ($sm) {
        gap: 5px;
    }

    &__slider {
        position: relative;
        width: 45%;

        @media ($lg) {
            width: 100%;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media ($lg-up) {
            flex: 1;
            width: auto;
        }

        &-enternal {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;

            @media ($lg) {
                gap: 24px;
            }
            @media ($md) {
                gap: 20px;
            }
            @media ($sm) {
                flex-direction: column;
                gap: 16px;
            }
        }
        &-main {
            display: flex;
            flex-direction: column;
            flex: 1;

            @media ($sm) {
                flex: initial;
                width: 100%;
            }
        }
        &-sidebar {
            width: 285px;

            @media ($sm) {
                width: 100%;
            }
        }
    }
    &__actions {
        background: var(--white-color);
        border-radius: 15px;
        padding: 24px;


    }
    &__favorite {
        @include sizeSquare(40px);

        background: transparent;
        border: none;
        color: var(--grey-line);
        display: block;
        padding: 0;
        position: absolute;
        left: 16px;
        top: 16px;
        z-index: 5;

        &._active {
            color: var(--red-color);

            .icon {
                fill: currentColor;
            }
        }
    }
    &__head-info {
        align-items: center;
        bottom: 0;
        display: flex;
        gap: 0;
        justify-content: start;
        left: 0;
        position: absolute;
        z-index: 5;

        @media ($md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__chip {
        $border-radius: 100px;
        border-radius: 0 $border-radius $border-radius 0;
        font-size: 1rem;
        font-weight: bold;
        padding: 7px 15px 6px 17px;
        position: relative;
        white-space: nowrap;
        z-index: 3;

        &:first-child {
            border-bottom-left-radius: $border-radius;

            @media ($md) {
                border-bottom-left-radius: 0;
            }
        }
        &:last-child {
            @media ($md) {
                border-bottom-left-radius: $border-radius;
            }
        }
        &_discount {
            background: var(--red-color);
            color: var(--white-color);
        }
        &_new {
            background: var(--green-color);
            color: var(--white-color);
        }
        &_exclusive {
            background: rgb(62,156,196);
            background: linear-gradient(90deg, rgba(62,156,196,1) 0%, rgba(62,190,196,1) 100%);
            color: var(--white-color);
        }

        + .product-top__chip {
            margin-left: -12px;
            z-index: 2;

            @media ($md) {
                margin-left: 0;
            }

            + .product-top__chip {
                z-index: 1;

                + .product-top__chip {
                    z-index: 0;
                }
            }
        }

        .icon {
            @include sizeSquare(15px);

            display: inline-block;
            margin-inline-end: 6px;
            object-fit: contain;
            object-position: center;
            vertical-align: -2px;
        }
    }

    &__desc {
        margin-top: 1rem;
    }

     &__price {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 30px;
        font-weight: 800;
        line-height: 1.1;
        gap: 10px;
        justify-content: start;
        margin-bottom: 5px;
         font-family: var(--font-title);
         
         @media ($sm) {
             font-size: 25px;
             margin-bottom: 4px;
         }
    }
    &__availability {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 5px;

        @media ($sm) {
            font-size: 12px;
            margin-bottom: 2px;
        }
    }
    &__action {
        margin-top: 10px;

        @media ($sm) {
            .btn {
                max-width: 100%;
            }
        }
    }
    &__warranty {
        align-items: center;
        border-radius: 31px;
        display: flex;
        font-size: .75rem;
        margin: 0 0 20px;
        justify-content: start;
        padding: 3px 4px;
        background: #D5DFFF;

        &-icon {
            @include sizeSquare(14px);

            display: block;
            margin-inline-end: 5px;
        }
    }
    &__attention {
        margin-top: 16px;
        line-height: 130%;
        color: var(--blue-color-dark);
        font-size: 14px;
    }
}

.product-settings {
    align-items: end;
    display: flex;
    gap: 6px;
    justify-content: start;
    margin: 0 0 10px;

    &__title {
        color: var(--grey-color);
        flex: 1;
        position: relative;

        &:after {
            border-bottom: 1px dashed #DADEE5;
            bottom: 3px;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 0;
        }
        span {
            background: #f9f9ff;
            position: relative;
            z-index: 1;
            color: var(--blue-color-dark);
        }
    }
    &__value {
        flex: 1;
    }
}

.product-slider {
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    @media ($lg) {
        justify-content: start;
    }

    &__main {
        position: relative;
        width: 424px;
        aspect-ratio: 424/426;

        @media ($sm) {
            width: 100%;
        }

        &-enternal {
            padding-top: 100%;
            position: relative;
            width: 100%;
            height: 100%;

            .product-main-slider {
                @include sizeSquare(100%);
                
                left: 0;
                position: absolute;
                top: 0;
            }
        }
    }
    &__thumbs {
        width: 70px;
        margin-right: 15px;
        max-height: 424px;

        @media ($sm) {
            display: none;
            height: initial;
            position: static;
            width: 100%;
        }

        &-enternal {
            box-sizing: border-box;
            height: 100%;
        }
    }
}

.product-main-slider {
    width: 100%;
    
    &_free-mode {
        .product-main-slider__item {
            transition-timing-function: ease-out;
        }
    }
    &_fade {
        .product-main-slider__item {
            pointer-events: none;
            transition-property: opacity;
            
            .product-main-slider__item {
                pointer-events: none;
            }

            &_active {
                &,
                & .product-main-slider__item_active {
                    pointer-events: auto;
                }
            }
        }
    }
    &_horizontal {
        touch-action: pan-y;
    }
    &__wrapper {
        align-items: stretch;
        box-sizing: content-box;
        display: flex;
        height: 100%;
        width: 100%;
    }
    &__item {
        display: block;
        flex-shrink: 0;
        height: 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        z-index: 1;

        &_visible {
            z-index: 2;
        }
    }
    &__link {
        background: var(--white-color);
        border: 1px solid var(--dark-color);
        border-radius: 15px;
        box-sizing: border-box;
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    &__img {
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    &-action {
        @media ($sm-up) {
            display: none;
        }
    }
}

.product-thumbs-slider {
    overflow: hidden;
    height: 100%;

    &_horizontal {
        touch-action: pan-y;
    }
    &_vertical {
        touch-action: pan-x;
    }
    &__wrapper {
        align-items: stretch;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;

        // @media @sm {
        //     flex-direction: row;
        // }
    }
    &__item {
        display: block;
        flex-shrink: 0;
        width: 70px;
        border-radius: 5px;

        // @media @sm {
        //     width: 96px;
        // }

        &._current {
            .product-thumbs-slider__link {
                border-width: 2px;
            }
        }
    }
     &__link {
        border: 1px solid var(--dark-color);
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        padding-top: 100%;
        overflow: hidden;
        position: relative;
        transition: all var(--transition-speed);
        width: 100%;
    }
    &__img {
        @include sizeSquare(100%);

        display: block;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
    }
}

.product-color {
    margin-top: auto;
    margin-bottom: 17px;

    @media ($sm) {
        margin-top: 33px;
        margin-bottom: 0;
    }

    h2 {
        font-size: 14px;
        font-family: var(--font-default);
        margin: 0;
        margin-bottom: 14px;

        @media ($sm-up) {
            display: none;
        }
    }
}
.product-select {
    font-family: var(--font-default);
    width: 100%;
    padding: 12px 40px 12px 12px;
    font-size: 14px;
    background-color: var(--white-color);
    border: 1px solid #E6E6E6;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23888888'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px;

    &:has(option[value=""]:checked) {
        color: #E6E6E6;
    }
}
.product-select option {
    color: var(--black-color);
    background-color: #ffffff;
}