.producers-section {
    position: relative;

    @media ($lg) {
        padding-block: 45px 55px;
    }

    &::before {
        background: #f9f9f9;
        content: "";
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 100vw;
        z-index: -1;
    }

    .producers-block {
        margin-bottom: 58px;

        h2 {
            margin: 0;
            font-size: 30px;
            font-family: var(--font-title);
            font-weight: 700;
        }

        ul {
            margin: 0;
            margin-left: 50px;
            margin-top: 10px;
        }

        @media ($lg-up) {
            h2 br {
                display: none;
            }
        }

        @media ($lg) {
            margin-bottom: 20px;

            h2 {
                font-size: 25px;
                margin-bottom: 20px;
            }

            ul {
                margin-left: 0;
                margin-top: 0;
                padding-inline-start: 1em;

                li {
                    padding-inline-start: 0;
                }

                li::marker {
                    color: #19898E;
                }
            }
        }
    }
}

.producers-slider-wrapper {
    position: relative;

    @media ($md) {
        width: calc(100vw - 20px);
    }
}
.producers-slider {
    display: block;
    overflow: hidden;
    position: relative;

    &_horizontal {
        touch-action: pan-y;
    }

    &__wrapper {
        align-items: center;
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    &__item {
        @include sizeSquare(100%);

        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        width: 150px;

        &-wrapper {
            box-sizing: border-box;
            display: block;
            height: 100%;
            padding: 2px 12px;
        }
        &-img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
    &-action {
        top: 32px !important;

        @media ($lg) {
            display: none;
        }
    }
}