.question-man {
    padding: 45px 39px 42px;
    border-radius: 15px;
    background: url('/src/assets/upload/about/question-bg-text.svg') no-repeat
            bottom right,
        url('/src/assets/upload/about/question-bg.png') no-repeat center/cover, var(--primary-color);
    display: flex;
    position: relative;
    gap: 32px;

    &::after {
        content: url('/src/assets/upload/about/question-man.png');
        position: absolute;
        bottom: -4px;
        right: 9%;
        z-index: 1;
    }

    @media ($lg) {
        flex-direction: column;
        padding: 26px 22px;
        gap: 6px;

        &::after {
            right: 9%;
        }
    }

    @media ($md) {
        padding: 20px;

        &::after {
            content: '';
            bottom: 0;
            right: 0;
            width: 177px;
            height: 245px;
            background: url('/src/assets/upload/about/question-man-full.png') center/contain no-repeat;
        }
    }

    &__title {
        color: var(--white-color);
        font-size: 3.75rem;
        line-height: 1;
        margin: 0;

        @media ($lg) {
            font-size: 1.75rem;

            br {
                display: none;
            }
        }

        @media ($md) {
            max-width: 50%;
            font-size: 30px;
        }
    }

    &__main {
        width: 288px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media ($md) {
            max-width: 50%;
        }
    }

    &__text {
        color: rgba(255, 255, 255, 0.7);
        margin: 0;

        @media ($md) {
            font-size: 10px;
        }
    }

    .btn {
        width: fit-content;
        min-width: 220px;
        background: var(--white-color);
        border-color: var(--white-color);
        color: var(--blue-color-dark);

        @media ($md) {
            font-size: 8px;
            padding: 6px;
            min-width: 112px;
            height: 21px;
        }
    }
}
