.reviews-slider-wrapper {
    position: relative;
}
.reviews-slider {
    display: block;
    overflow: hidden;
    position: relative;

    @media ($sm) {
        overflow: visible;
    }

    &_horizontal {
        touch-action: pan-y;
    }

    &__wrapper {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    &__item {
        align-items: stretch;
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        padding-top: 18px;
        height: auto;
    }
}

.reviews-slider-item {
    align-items: stretch;
    background: #E6EAEF;
    border-radius: 15px;
    box-shadow: 1px 4px 10px rgba(#2D2E38, 0.07);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 18px 25px;

    @media ($sm) {
        flex-direction: column;
        padding: 16px;
    }
    @media ($lg) {
        padding: 16px;
    }

    &__head {
        margin-bottom: 10px;

        @media ($lg) {
            display: none;
        }
    }
    &__avatar-wrapper {
        border-radius: 50%;
        display: block;
        overflow: hidden;
        position: relative;
        width: 66px;
        height: 66px;
        z-index: 0;

        @media ($sm) {
            @include sizeSquare(49px);

            overflow: hidden;
            border-radius: 10px;
            z-index: 3;
        }
    }
    &__avatar {
        @include sizeSquare(100%);

        display: block;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
    }
    &__cont {
        position: relative;
        z-index: 2;
        font-size: 14px;

        p {
            margin: 0;
        }

        p:not(:last-child) {
            margin-bottom: 10px;

            @media ($lg) {
                margin-bottom: 8px;
            }
        }

        @media ($sm) {
            background: transparent;
            font-size: 12px;
        }
    }
    &__text {
        color: var(--grey-color);

        > * {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__quote {
        @include size(63px, 46px);

        right: 32px;
        object-fit: contain;
        object-position: center;
        position: absolute;
        top: -18px;
        z-index: 3;

        @media ($lg) {
            @include size(50px, 38px);

            left: 16px;
        }
        @media ($sm) {
            @include size(44px, 32px);
        }
    }
    &__name {
        color: var(--black-color);
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 6px;

        @media ($lg) {
            font-size: 14px;
        }
    }
    &__date {
        color: var(--blue-color-dark);
        font-size: 14px;
    }
    &__bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 10px;

        .reviews-slider-item__avatar-wrapper {

            @media ($md-up) {
                display: none;
            }
        }
    }

    &.special {

        .reviews-slider-item__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        .reviews-slider-item__cont {
            margin-top: auto;
            color: var(--white-color);
            z-index: 3;
            font-weight: 700;
        }
        .reviews-slider-item__bottom {
            z-index: 2;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 58%);
                z-index: -1;
                border-radius: 15px;
            }
        }
        .reviews-slider-item__name {
            color: var(--white-color);
        }
        .reviews-slider-item__date {
            color: #D5DFFF;
        }
    }
}