.search-section {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 60px auto;

    @media ($lg) {
        flex-direction: column;
        gap: 1rem;
        margin: 48px auto;
        text-align: center;
    }
    @media ($md) {
        margin: 32px auto;
    }
    @media ($sm) {
        margin: 24px auto;
    }

    &__img {
        display: block;
        margin: auto;
        order: 2;
    }
    &__cont {
        display: block;
        flex: 1;
    }
    &__desc {
        margin-top: 1rem;
    }
    &__actions {
        margin-top: 1rem;
        
        .btn {
            width: 252px;
    
            @media ($lg) {
                margin: auto;
            }
        }
    }
}