.sections-list {
    display: grid;
    gap: 22px 26px;
    grid-template-columns: 1fr;
    margin-bottom: 22px;

    @media ($lg) {
        gap: 20px;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
    @media ($sm) {
        gap: 8px;
        margin-bottom: 8px;
    }

    &__item {
        position: relative;
        z-index: 1;
        
        @media ($lg-up) {
            min-height: 225px;
        }

        &:has(.sections-list-item__more._active) {
            z-index: 2;
        }
    }
}

.sections-list-item {
    background: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 0 0 rgba(#0C0C0D, 0.1);
    clear: both;
    min-height: 100%;
    overflow: hidden;
    padding: 26px;
    position: relative;
    transition: all .3s;

    &::after {
        content: '';
        position: absolute;
        background: url('/src/assets/upload/section-list-ellipse.png') no-repeat;
        width: 237px;
        bottom: 0;
        aspect-ratio: 237/176;
        right: -26px;
        z-index: 1;

        @media ($xl) {
            width: 200px;
            bottom: -26px;
        }
    }

    @media ($sm) {
        padding: 20px;

        &:has(._active) {
            .sections-list-item__img {
                width: calc(100% - 50px);
                max-width: none;
                margin-top: 0;
            }
            &::after {
                width: calc(100% - 80px);
            }
        }
    }

    &:hover {
        box-shadow: 0 6px 24px -4px rgba(#0C0C0D, 0.1);
    }

    &__content {
        // max-width: calc(100% - 235px);
        position: relative;
        z-index: 1;

        @media ($xl) {
            // max-width: 65%;
        }
    }
    &__title {
        color: var(--blue-color);
        display: block;
        font-family: var(--font-title);
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1em;
    }
    &__img {
        display: block;
        float: right;
        max-width: 225px;
        position: relative;
        right: -26px;
        bottom: -26px;
        z-index: 2;
        margin-top: -35px;

        @media ($xl) {
            max-width: 45%;
            margin-top: -55px;
        }
        @media ($sm) {
            right: -20px;
        }
    }
    &__list {
        @include reset-list;

        // display: flex;
        // flex-direction: column;
        // gap: 12px;
        line-height: 1.2;
        min-height: 140px;

        &-item {
            color: var(--grey-color);
            display: block;
            margin-top: 12px;

            &:first-child {
                margin-top: 0;
            }

            &[data-more-item="true"] {
                display: none;
            }
        }
        &-link {
            display: block;
            color: var(--blue-color-dark);
            &:hover {
                color: var(--text-color);  
            }
        }
    }
    &__more {
        color: var(--blue-color-dark);
        cursor: pointer;
        font-weight: bold;
        margin-top: .8rem;
    }
}

.catalog {
    @media ($md-up) {
        margin-bottom: 40px;
    }
}