.bottom-panel
    .container
        if (!!productPage)
            .bottom-panel__product
                .bottom-panel__product-price 450 000 ₽
                .bottom-panel__product-actions
                    button.btn.bottom-panel__product-btn(data-toggle-action data-add-to-basket)
                        .bottom-panel__product-btn-icon.btn__icon
                            +svgIcon('cart')
                        .bottom-panel__product-btn-text.btn__text В корзину
                    a.btn.btn_bordered.bottom-panel__product-btn(href='/basket.html')
                        .bottom-panel__product-btn-icon.btn__icon
                            +svgIcon('cart')
                        .bottom-panel__product-btn-text.btn__text Перейти в корзину



        .bottom-panel__navigation
            .bottom-panel__navigation-item
                a.bottom-panel__navigation-item-link._active(href="#" title) 
                    <svg class="icon" width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62447 10.6332V18.536C4.62447 19.3433 5.28152 20 6.08748 20H9.15045C9.13854 19.9661 9.13259 19.9295 9.13259 19.8916V13.8949C9.13259 13.3685 9.56137 12.9403 10.0874 12.9403H14.2382C14.7642 12.9403 15.193 13.3685 15.193 13.8949V19.8916C15.193 19.9295 15.1871 19.966 15.1752 20H18.2381C19.0441 20 19.7011 19.3433 19.7011 18.536V10.6332L12.1618 3.90383L4.62447 10.6332ZM12.3881 3.19676C12.3246 3.13939 12.2432 3.11081 12.1618 3.11081C12.0824 3.11081 12.001 3.13939 11.9375 3.19676L3.86023 10.4077C3.64185 10.6015 3.35999 10.6975 3.0642 10.6791C2.76047 10.6596 2.48258 10.5231 2.28409 10.2944L2.27019 10.2775C1.8692 9.81695 1.92081 9.1079 2.38333 8.69658L12.1618 0L21.9423 8.69662C22.4048 9.10794 22.4564 9.81699 22.0554 10.2775L22.0415 10.2944C21.843 10.5231 21.5651 10.6597 21.2614 10.6791C20.9656 10.6976 20.6837 10.6015 20.4653 10.4078L12.3881 3.19676Z" fill="currentColor"/>
                    </svg>
                    | Главная
            .bottom-panel__navigation-item
                a.bottom-panel__navigation-item-link(href="#" title)
                    +svgIcon("search-btn")
                    | Каталог
            .bottom-panel__navigation-item
                a.bottom-panel__navigation-item-link._cart(href="#" title)
                    +svgIcon("cart")
                    | Корзина
            .bottom-panel__navigation-item
                a.bottom-panel__navigation-item-link(href="#" title)
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9.5" cy="9.5" r="9.5" fill="#47587B"/>
                    <g clip-path="url(#clip0_399_18242)">
                    <path d="M12.9687 9.02083C13.3683 8.36523 13.5823 7.61068 13.5904 6.83138C13.5985 5.7181 13.1746 4.66254 12.4035 3.86263C11.6283 3.06272 10.6029 2.62153 9.51284 2.61328C9.50477 2.61328 9.49669 2.61328 9.48862 2.61328C8.39454 2.61328 7.3691 3.04622 6.59396 3.83377C5.81479 4.62543 5.38281 5.68099 5.38281 6.80664C5.38281 7.59418 5.59678 8.36111 6.00454 9.02496C6.52533 9.87847 7.30854 10.4928 8.21287 10.7938C8.23306 10.798 8.24921 10.8062 8.26939 10.8103C8.46318 10.8722 8.661 10.9175 8.86286 10.9505C8.87093 10.9505 8.87497 10.9505 8.88304 10.9546C8.92341 10.9588 8.96379 10.967 9.00416 10.9711C9.01627 10.9711 9.02838 10.9753 9.04049 10.9753C9.07683 10.9794 9.11316 10.9835 9.1495 10.9835C9.16564 10.9835 9.17776 10.9876 9.1939 10.9876C9.23024 10.9918 9.26657 10.9918 9.30291 10.9918H9.34328C9.39173 10.9918 9.44017 10.9959 9.48862 10.9959C9.53706 10.9959 9.58551 10.9959 9.63396 10.9918H9.67433C9.71066 10.9918 9.747 10.9876 9.78333 10.9876C9.79948 10.9876 9.81159 10.9835 9.82774 10.9835C9.86408 10.9794 9.90041 10.9753 9.93271 10.9753C9.94482 10.9753 9.95693 10.9711 9.96904 10.9711C10.0094 10.967 10.0498 10.9629 10.0902 10.9546C10.0982 10.9546 10.1023 10.9546 10.1103 10.9505C10.3122 10.9175 10.51 10.8722 10.7038 10.8103C10.724 10.8062 10.7401 10.798 10.7603 10.7938C11.6647 10.4887 12.4479 9.87435 12.9687 9.02083Z" fill="white"/>
                    <path d="M2.6721 15.7344C2.63258 15.8958 2.6712 16.0312 2.6712 16.0312C4.15486 17.8125 7.05288 19 9.49955 19C11.9426 19 14.5469 18.1094 16.3276 16.0312C16.3276 16.0312 16.3672 15.8958 16.3276 15.7344C16.1552 15.0415 15.9645 14.6152 15.6268 13.9971C14.6675 12.2532 12.7274 11.4658 10.9023 12.0839C10.4496 12.2374 9.97897 12.3162 9.50113 12.3162C9.02329 12.3162 8.55264 12.2374 8.09996 12.0839C7.6832 11.9422 7.25925 11.8753 6.84249 11.8753C5.43772 11.8753 4.11558 12.6508 3.37548 13.9971C3.03057 14.6152 2.84096 15.0415 2.6721 15.7344Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_399_18242">
                    <rect width="15.5455" height="17.2727" fill="white" transform="translate(1.72656 1.72656)"/>
                    </clipPath>
                    </defs>
                    </svg>

                    | Войти