extends /layouts/_template

block main
    .blog-detail
        .blog-detail__info
            .blog-detail__info-data
                img(src="/src/assets/upload/blog-detail/date.svg", alt="Иконка")
                span 9 сентября 2024
            .blog-detail__info-data
                img(src="/src/assets/upload/blog-detail/effective.svg", alt="Иконка")
                span 15 минут
        .blog-detail__content-nav
            h3 Содержание
            ol
                li
                    a(href="#documents") Нормативные документы
                li
                    a(href="#algorithm") Как правильно обрабатывать эндоскопы – алгоритм
                li
                    a(href="#processing") Обработка эндоскопов пошагово
                li
                    a(href="#auto") Есть ли смысл в автоматической обработке?
                li
                    a(href="#end") Заключение

        .blog-detail__block
            p.blog-detail__text Трудно представить современную медицину без эндоскопов.
            p.blog-detail__text Эндоскопия позволяет выявлять заболевания на ранних стадиях развития, что открывает широкие возможности для своевременного лечения. Благодаря высокой разрешающей способности изображения, метод позволяет врачам получать детальную информацию о состоянии внутренних органов.
            p.blog-detail__text Чтобы эндоскопия оставалась безопасным и эффективным методом, необходима правильная обработка оборудования. Соблюдение определенного порядка очистки и дезинфекции защищает от заражения пациентов, врачей и медперсонал среднего звена.
            p.blog-detail__text Давайте рассмотрим алгоритм правильной обработки эндоскопического оборудования и узнаем, как можно упростить этот многоэтапный и трудоемкий процесс.

        .blog-detail__block(id="documents")
            h2.blog-detail__title Нормативные документы
            p.blog-detail__text Основные нормы и критерии обработки эндоскопов регулируются действующим СП 3.1.3263-15.
            div.blog-detail__text-list
                p Также требования освещаются в документах:
                ul.blog-detail__list
                    li.blog-detail__item СП 3.3686-21;
                    li.blog-detail__item МУ 3.5.1937-04;
                    li.blog-detail__item МУ 3.1.3420-17.
        .blog-detail__block(id="algorithm")
            h2.blog-detail__title Как правильно обрабатывать эндоскопы – алгоритм
            p.blog-detail__text Эндоскопические приборы делятся на два основных типа в зависимости от вида вмешательства:
            ol.blog-detail__list
                li.blog-detail__item Нестерильные вмешательства: эндоскоп вводится через естественные отверстия в организме, такие как пищевод, трахея, уретра или, например, влагалище. Нестерильные процедуры проводятся для диагностики и лечения заболеваний, не требующих проникновения во внутренние полости.
                li.blog-detail__item Стерильные вмешательства: эндоскопический прибор вводится через проколы или разрезы внутрь. Такие манипуляции – часть инвазивных диагностических или хирургических операций, для которых обязательны стерильные условия.
            p.blog-detail__text От того, каким образом эндоскоп будет использоваться, зависит алгоритм обработки и дезинфекции аппарата.
            p.blog-detail__text Краткий алгоритм обработки эндоскопов:
            ol.blog-detail__list
                li.blog-detail__item Предварительная очистка – после процедуры эндоскопы и их составные части должны быть тщательно очищены от остатков биологического материала.
                li.blog-detail__item Тест на герметичность – проверка целостности необходима для выявления повреждений, которые могут привести к инфицированию.
                li.blog-detail__item Окончательная чистка(может проводиться совместно с дезинфекцией) – уничтожается большинство бактерий, вирусов и грибков для предотвращения их передачи.
                li.blog-detail__item Дезинфекция высокого уровня (ДВУ) или стерилизация – для нестерильных вмешательств применяется ДВУ, а для стерильных - стерилизация.
                li.blog-detail__item Хранение – после полного цикла обработки инструменты хранятся в специальных шкафах, чтобы сохранить стерильность и исключить вторичную контаминацию.
        .blog-detail__block(id="processing")
            h2.blog-detail__title Обработка эндоскопов пошагово
            div.blog-detail__sub-block
                h3.blog-detail__subtitle Предварительная очистка
                p.blog-detail__text Эндоскопы подготавливаются к последующей дезинфекции и стерилизации.
                p.blog-detail__text После окончания процедуры оборудование и связанные с ними комплектующие должны пройти предварительную очистку. Это делается сразу, чтобы предотвратить засыхание загрязнений на поверхности.
                p.blog-detail__text Очистку выполняют вручную: устройство протирают влажной салфеткой, пропитанной моющим раствором. Жесткие эндоскопы разбираются на части и очищаются по-отдельности.
            div.blog-detail__sub-block
                h3.blog-detail__subtitle Предварительная очистка
                p.blog-detail__text Эндоскопы подготавливаются к последующей дезинфекции и стерилизации.
                p.blog-detail__text После окончания процедуры оборудование и связанные с ними комплектующие должны пройти предварительную очистку. Это делается сразу, чтобы предотвратить засыхание загрязнений на поверхности.
                p.blog-detail__text Очистку выполняют вручную: устройство протирают влажной салфеткой, пропитанной моющим раствором. Жесткие эндоскопы разбираются на части и очищаются по-отдельности.
        .blog-detail__block(id="auto")
            h2.blog-detail__title Есть ли смысл в автоматической обработке?
            p.blog-detail__text Окончательная очистка и дезинфекция высокого уровня – это самые сложные и трудоемкие этапы. Но благодаря появлению на рынке аппаратов для мойки и дезинфекции этот процесс существенно упростился.
            div.blog-detail__img-wrapper
                img(src="/src/assets/upload/blog-detail/1.png")
                img(src="/src/assets/upload/blog-detail/2.png")
            div.blog-detail__sub-block
                h3.blog-detail__subtitle POKA YOKE – МДМ для обработки гибких эндоскопов
                p.blog-detail__text Моечно-дезинфекционные машины (МДМ) представляют собой эффективное решение для автоматизации очистки и дезинфекции приборов.
                p.blog-detail__text Моечно-дезинфекционные машины (МДМ) представляют собой эффективное решение для автоматизации очистки и дезинфекции приборов.
                p.blog-detail__text Моечно-дезинфекционные машины (МДМ) представляют собой эффективное решение для автоматизации очистки и дезинфекции приборов.                ul.blog-detail__list
                ul.blog-detail__list
                    li.blog-detail__item Предварительная очистка – после процедуры эндоскопы и их составные части должны быть тщательно очищены от остатков биологического материала.
                    li.blog-detail__item Тест на герметичность – проверка целостности необходима для выявления повреждений, которые могут привести к инфицированию.
                    li.blog-detail__item Окончательная чистка(может проводиться совместно с дезинфекцией) – уничтожается большинство бактерий, вирусов и грибков для предотвращения их передачи.
                    li.blog-detail__item Дезинфекция высокого уровня (ДВУ) или стерилизация – для нестерильных вмешательств применяется ДВУ, а для стерильных - стерилизация.
                    li.blog-detail__item Хранение – после полного цикла обработки инструменты хранятся в специальных шкафах, чтобы сохранить стерильность и исключить вторичную контаминацию.
                    li.blog-detail__item Хранение – после полного цикла обработки инструменты хранятся в специальных шкафах, чтобы сохранить стерильность и исключить вторичную контаминацию.

        .blog-detail__block(id="end")
            h2.blog-detail__title Заключение
            div.blog-detail__text Ищете оборудование для дезинфекции и стерилизации? #[br] Если вы затрудняетесь с самостоятельным выбором оборудования для клиник и ЛПУ, обратитесь к нашим менеджерам по телефону #[a(href="#") 8(800) 101-10-04] или по электронной почте #[a(href="#") info+311508@meddentex.ru]. Мы всегда готовы проконсультировать вас и помочь с оснащением медучреждений всем необходимым.

        .blog-detail__form
            h4
                | Заказ эффективного расчета
                br
                | компрессионного оборудования для клиники
            +textfield('Имя', 'Иван')
            +textphone('Телефон', '+7 000 000 00')
            +textarea('Комментарий', '')
            button.btn Оставить заявку
            +formAgreement()

        button(type="button").blog-detail__to-up Наверх

        section.section.py-0
            h2.section__title.h1 Читайте также

            .section__content.position-relative
                .blog-detail-slider.js-blog-detail-slider
                    .blog-detail-slider__wrapper
                        - for (let i = 0; i < 4; i++)
                            .blog-detail-slider__item
                                a.blog__grid-item(href="/blog-detail.html")
                                    .blog__grid-item-img
                                        img(src="/src/assets/upload/blog/blog.png", alt="Изображения блога")
                                    .blog__grid-item-info
                                        .blog__grid-item-info-head
                                            span 20.09.2024
                                            span Время чтения:
                                                span 15 мин
                                        p.blog__grid-item-title Правила и нормы обработки эндоскопического оборудования

                .slider-action._prev.blog-detail-slider-action.js-blog-detail-slider-prev
                    <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 0L0 7L7 14L4.9 7L7 0Z" fill="#4C7DA7"/>
                    </svg>
                .slider-action._next.blog-detail-slider-action.js-blog-detail-slider-next
                    <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 14L7 7L0 0L2.1 7L0 14Z" fill="#4C7DA7"/>
                    </svg>

        section.section.py-0.mt-0.position-relative
            h2.section__title.h1 Рекомендуем

            .section__content
                include /components/catalog/products-slider

            .slider-action.slider-action_sm._prev.products-slider-action.js-products-slider-prev.visible-tablet
                <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0L0 7L7 14L4.9 7L7 0Z" fill="#4C7DA7"/>
                </svg>
            .slider-action.slider-action_sm._next.products-slider-action.js-products-slider-next.visible-tablet
                <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 14L7 7L0 0L2.1 7L0 14Z" fill="#4C7DA7"/>
                </svg>