extends /layouts/_template

block variables
    - var hideTitle = true;

block main
    .delivery-and-payment
        .delivery-and-payment__head._delivery
            h1.delivery-and-payment__head-title Доставка
            p.delivery-and-payment__head-text Живёте далеко от Москвы? Мы без проблем доставим ваш заказ в любую точку России любым удобным для вас способом. Строгий контроль качества на всех этапах поставки гарантирует целостность и сохранность даже самого сложного стоматологического оборудования. <br><br> У нас есть собственный склад в Москве, на нём всегда находится стоматологическая мебель и запасные части, более 100 стоматологических установок различных моделей, большое количество рентгенологического, стерилизационного и другого стоматологического оборудования. Это позволяет отгружать многие позиции в день заказа, не ожидая поставок со склада производителя.
        .delivery-and-payment__info-block
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.6923 9.88462H11.5V17.1538H12.3077M22 11.5C22 14.2848 20.8938 16.9555 18.9246 18.9246C16.9555 20.8938 14.2848 22 11.5 22C8.71523 22 6.04451 20.8938 4.07538 18.9246C2.10625 16.9555 1 14.2848 1 11.5C1 8.71523 2.10625 6.04451 4.07538 4.07538C6.04451 2.10625 8.71523 1 11.5 1C14.2848 1 16.9555 2.10625 18.9246 4.07538C20.8938 6.04451 22 8.71523 22 11.5Z" stroke="#4C7DA7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.3068 6.25008C12.3068 6.46429 12.2217 6.66973 12.0702 6.8212C11.9188 6.97267 11.7133 7.05777 11.4991 7.05777C11.2849 7.05777 11.0794 6.97267 10.928 6.8212C10.7765 6.66973 10.6914 6.46429 10.6914 6.25008C10.6914 6.03586 10.7765 5.83042 10.928 5.67895C11.0794 5.52748 11.2849 5.44238 11.4991 5.44238C11.7133 5.44238 11.9188 5.52748 12.0702 5.67895C12.2217 5.83042 12.3068 6.03586 12.3068 6.25008Z" fill="black" stroke="#4C7DA7"/>
            </svg>
            p.h3.delivery-and-payment__info-block-text По вопросам доставки заказов обращайтесь по телефону: 
                a(href="tel:+74951111111") +7 (495) 111-11-11
                |  или на почту 
                a(href="mailto:info@dentex.ru") info@dentex.ru
        .delivery-and-payment__delivery-list.section_white
            each item in deliveryAccordeonItems
                .delivery-and-payment__delivery-item
                    .delivery-and-payment__delivery-item-head.h5(data-accordeon-toggle)
                        | #{item.title}
                        .delivery-and-payment__delivery-item-head-icon
                            +svgIcon('arrow-down')
                    .delivery-and-payment__delivery-item-content(data-accordeon-content)
                        p #{item.content}
        .delivery-and-payment__head._payment(id="payment")
            h1.delivery-and-payment__head-title Оплата
            p.delivery-and-payment__head-text Оплату заказа можно произвести безналичным расчётом, а также с применением платежных карт и наличных денежных средств.
            .delivery-and-payment__head-img 
                img(src="/src/assets/upload/delivery-and-payment/visa.png", alt="")
                img(src="/src/assets/upload/delivery-and-payment/mastercard.png", alt="")
                img(src="/src/assets/upload/delivery-and-payment/mir.png", alt="")
                img(src="/src/assets/upload/delivery-and-payment/maestro.png", alt="")
        .delivery-and-payment__payment-options
            .delivery-and-payment__payment-options-item
                h4 Безналичный расчет
                p Отгрузка производится при поступлении денежных средств на счет компании, сроки прохождения платежа между банками могут составлять до 3-х рабочих дней.
            .delivery-and-payment__payment-options-item
                h4 Наличный расчет
                p Оплата заказов клиентами - юридическими лицами наличными возможна в пределах 100 000 руб.
                p Оплата картами производится только в пункте самовывоза. К оплате принимаются карты платежных систем: Visa, MasterCard, МИР, Maestro.
            .delivery-and-payment__payment-options-item
                h4 Рассрочка оплаты
                p Для покупки оборудования в рассрочку предлагаем использовать услугу 
                    a(href="#") финансовый аренды - лизинга оборудования.
            .delivery-and-payment__payment-options-item
                h4 Оплата онлайн платежными картами
                p Частные лица могут произвести оплату онлайн платежными картами Банковские карты.
                p Внимание: При оплате картами или через платежные системы уточняйте лимиты операций и банка, обслуживающего ваши платежные карты.
            .delivery-and-payment__payment-options-item
                h4 Оплата с помощью смартфона
                p Частные лица могут произвести оплату с помощью смартфона через платежные системы:
                    br
                    a(href="#") - СБП
                    br
                    a(href="#") - Yandex Pay
            .delivery-and-payment__payment-options-item
                a.btn(href="#js-modal-feedback", data-fancybox) Связаться с нами


