extends /layouts/_template

block variables
    - var hideBreadcrumbs = true;
    - var h1 = "Нас часто спрашивают";

block main
    .help
        .help__question-list
            each item in helpQuestions
                .help__question-item
                    .help__question-item-head.h5(data-accordeon-toggle)
                        | #{item.title}
                        .help__question-item-head-icon
                            +svgIcon('arrow-down')
                    .help__question-item-content(data-accordeon-content)
                        p #{item.content}
        include /components/question-man.pug