extends /layouts/_template

block variables
    - var title = "Главная";

block main
    section.section.mt-4.py-0.mb-4
        include /components/index/top-section

    section.py-0
        include /components/index/categories-slider

    section.section.my-0.position-relative.special-offer
        .special-offer-slider-wrapper
            .special-offer-slider.js-special-offer-slider
                .special-offer-slider__wrapper
                    - for (let i = 0; i < 4; i++)
                        .special-offer-slider__item
                            include /components/catalog/product-item-special

        .slider-action.slider-action_sm._prev.__long.special-offer-slider__action.js-special-offer-slider-prev
            svg(width="7" height="14" viewBox="0 0 7 14" fill="none")
                path(d="M7 0L0 7L7 14L4.9 7L7 0Z" fill="#4C7DA7")

        .slider-action.slider-action_sm._next.__long.special-offer-slider__action.js-special-offer-slider-next
            svg(width="7" height="14" viewBox="0 0 7 14" fill="none")
                path(d="M0 14L7 7L0 0L2.1 7L0 14Z" fill="#4C7DA7")

        .d-flex.justify-content-center
            .pagination.special-offer__pagination.js-special-offer-pagination


    section.section.section_white.my-0
        - var indexNumber = 1
        include /components/index/products

        button(type="button").products-more.mx-auto.d-block Показать еще

    section.section.my-0.producers-section
        .producers-block.d-flex.flex-column.flex-lg-row
            h2.section__title
                | Производители
                br
                | и поставщики
            ul
                li Более 50 мировых производителей #[br] медицинского оборудования

        .section__content
            include /components/producers-slider

    include /components/index/blog-section

    section.section.my-0.section_white
        h2.section__title.h1 Отзывы

        div
            include /components/index/reviews-slider

    include /components/index/about
            