extends /layouts/_template

block main
    .mb-3.mb-sm-4.mb-lg-5.d-flex.justify-content-start
        a.btn.btn_full(href="#js-modal-feedback" data-fancybox title="Связаться с нами") Связаться с нами

    .mb-4
        include /components/portfolio-list

        include /components/pager
