extends /layouts/_template

block variables
    - var hideBreadcrumbs = true;
    - var currentNav = "/return-of-goods.html";
    - var h1 = "Условия возврата";

block main
    .return-of-goods
        .profile-main-container
            include /components/profile-nav
            .return-of-goods__content
                p.return-of-goods__paragraph Законодательством установлен особый порядок регистрации, хранения и реализации изделий медицинского назначения.
                p.return-of-goods__text Правила продажи отдельных видов товаров, утвержденные Постановлением Правительства РФ №55 «Об утверждении правил продажи отдельных видов товаров, перечня товаров длительного пользования, на которые не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации» (далее – Правила), приводят перечень товаров, относящихся к группе изделий медицинского назначения.
                p.return-of-goods__paragraph На основании ст. 72 Правил к изделиям медицинского назначения относятся:
                ul.return-of-goods__text
                    li изделия медицинской техники, включая инструменты, оборудование, приборы и медицинские аппараты;
                    li изделия протезно-ортопедические и запасные части к ним;
                    li прочие медицинские материалы и средства.
                p.return-of-goods__paragraph Также важно помнить, что изделия медицинского назначения надлежащего качества, не подошедшие покупателю по размеру, форме, габаритам, фасону, расцветке или комплектации обмену и возврату не подлежат.
                p.return-of-goods__text Согласно ст. 25 Закона «О защите прав потребителей» потребитель вправе обменять непродовольственный товар надлежащего качества на аналогичный товар у продавца, у которого этот товар был приобретен, если указанный товар не подошел по форме, габаритам, фасону, расцветке, размеру или комплектации и при условии, что товар не был в употреблении. Потребитель имеет право на обмен непродовольственного товара надлежащего качества в течение четырнадцати дней, не считая дня его покупки. В случае, если аналогичный товар отсутствует в продаже на день обращения потребителя к продавцу, потребитель вправе отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за указанный товар денежной суммы.
                p.return-of-goods__paragraph Однако большинство изделий медицинского назначения надлежащего качества не подлежат возврату или обмену по основаниям, указанным в настоящей статье, если они входят в Перечень товаров, не подлежащих обмену, который утверждается Правительством Российской Федерации.
                button.return-of-goods__request-btn.btn(data-fancybox data-src="#js-modal-return-of-goods") Оставить заявку на возврат
                .return-of-goods__undersection.section_white
                    h2 Условия обмена и возврата товара ненадлежащего качества
                    .return-of-goods__accordeon-list
                        .return-of-goods__accordeon-item
                            .return-of-goods__accordeon-item-head.h5(data-accordeon-toggle)
                                | Замена или возврат товара с выявленным в процессе эксплуатации скрытым производственными дефектом существенным недостатком...
                                .return-of-goods__accordeon-item-head-icon
                                    +svgIcon('arrow-down')
                            .return-of-goods__accordeon-item-content(data-accordeon-content)
                                p.return-of-goods__text производится на основаниях и в сроки, установленные Законом РФ «О защите прав потребителей»
                        .return-of-goods__accordeon-item
                            .return-of-goods__accordeon-item-head.h5(data-accordeon-toggle)
                                | В случае возникновения проблем с товаром...
                                .return-of-goods__accordeon-item-head-icon
                                    +svgIcon('arrow-down')
                            .return-of-goods__accordeon-item-content(data-accordeon-content)
                                p.return-of-goods__text text
                        .return-of-goods__accordeon-item
                            .return-of-goods__accordeon-item-head.h5(data-accordeon-toggle)
                                | В случае если в результате экспертизы товара установлено, что его недостатки возникли по вине Покупателя...
                                .return-of-goods__accordeon-item-head-icon
                                    +svgIcon('arrow-down')
                            .return-of-goods__accordeon-item-content(data-accordeon-content)
                                p.return-of-goods__text text
                    p.return-of-goods__subtitle Возврат или обмен товаров ненадлежащего качества осуществляется бесплатно. 
                    p.return-of-goods__paragraph Для предъявления требований о замене или возврате вы можете:
                    ul.return-of-goods__text
                        li обратиться в офис компании 
                        li оставить заявку, позвонив по бесплатному номеру 
                            a(href="tel:88003509680") 8 (800) 350-96-80
                        li отправить рекламацию на 
                    p.return-of-goods__text Если при рассмотрении вашего требования о возврате товара будет установлено, что товар был в эксплуатации, имеет дефекты (трещины, царапины, сколы, механические повреждения за исключением скрытых производственных дефектов), находится в неполной комплектации или не в заводской упаковке, то обмен/возврат произведен не будет.
                    p.return-of-goods__text 
                        span.text-red * 
                        | Существенный недостаток товара - неустранимый недостаток или недостаток, который не может быть устранен без несоразмерных затрат времени, или выявляется неоднократно, или проявляется вновь после его устранения, или другие подобные недостатки". Выдержка из преамбулы к Закону РФ «О защите прав потребителей».
