extends /layouts/_template

block main
    .video-review
        .video-review__video(data-inline-rutube) 
            img.video-review__video-preview(src="https://rutube.ru/api/video/c44313f2b3b79190431346823ac45289/thumbnail/?redirect=1" alt="Изображения видеообзора")
            .play

            iframe(src="//rutube.ru/play/embed/c44313f2b3b79190431346823ac45289?quality=1" t="0" skinColor="3EBEC4" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

        .video-review__content 
            p Преимущества использования стоматологического диодного лазера Medency Primo при отбеливании зубов:
                br
                br
                | • Ускоренный процесс отбеливания: лазерное излучение активирует отбеливающий гель, сокращая время отбеливания.
                br 
                | • Повышенная эффективность: лазер усиливает действие отбеливающего геля, обеспечивая более заметные результаты.
                br 
                | • Безопасность: диодный лазер излучает свет на определённой длине волны, которая безопасна для зубов и дёсен.
                br 
                | • Комфорт: лазерное отбеливание безболезненно и не вызывает чувствительности зубов.
                br 
                | • Долговременные результаты: лазерное отбеливание обеспечивает длительные результаты, сохраняющиеся до нескольких лет.