div(style="display: none;")
    include dialog-success
    include dialog-success-code
    include dialog-auth
    include dialog-confirm
    include dialog-city-select
    include dialog-feedback
    include dialog-review
    include dialog-review-product
    include dialog-installment
    include dialog-return
    include dialog-video
    include dialog-change-password
    include dialog-delete
    include dialog-basket-item-delete
    include dialog-notify
    include dialog-favorite-add
    include dialog-favorite-remove
    include dialog-order-delivery
    include dialog-order-delivery-self
    include dialog-service
    include dialog-clinic
