#js-modal-clinic.dialog
    .dialog__title Хотите открыть клинику?
    .dialog__desc Оставьте заявку, и наш специалист свяжется с Вами в ближайшее время
    .dialog__cont
        form(data-validate-form)
            .mb-3
                +textfield('Имя', 'Иван')
            .mb-3
                +textphone('Телефон', '+7 000 000 00')
            .mb-3
                +textarea('Комментарий ', '')
            .mt-1
                +checkbox('Соглашаюсь с условиями обработки данных и политикой конфиденциальности', 'review-dialog__checkbox')
            .mt-4
                button.btn(type="submit").mx-auto Оставить заявку