#js-modal-service.dialog
    .dialog__title Оставить заявку на сервисное обслуживание
    .dialog__desc Наш специалист свяжется с Вами в ближайшее время
    .dialog__cont
        form(data-validate-form)
            .mb-3
                +textfield('Имя', 'Иван')
            .mb-3
                +textphone('Телефон', '+7 000 000 00', true)
            .mb-3
                +textarea('Комментарий ', '')
            .mt-1
                +checkbox('Соглашаюсь с условиями обработки данных и политикой конфиденциальности', 'review-dialog__checkbox')
            .mt-4
                button.btn(type="submit").mx-auto Оставить заявку