#js-modal-feedback.dialog
    .dialog__title Остались вопросы?
    .dialog__desc Подробно расскажем о продукции и услугах, подберем оптимальный вариант и предложим лучшие цены!
    .dialog__cont
        form(data-validate-form)
            .mb-3
                +textfield('Имя', 'Иван')
            .mb-3
                +textphone('Телефон', '+7 000 000 00', true)
            .mb-3
                +textarea('Комментарий ', '')
            .mt-1
                +checkbox('Соглашаюсь с условиями обработки данных и политикой конфиденциальности', 'review-dialog__checkbox')
            .mt-4
                button.btn(type="submit") Оставить заявку