#js-modal-change-password.dialog.change-password-dialog
    .change-password-dialog__container
        h3 Смена пароля
        +textfield('Старый пароль')
        +textfield('Новый пароль')
        button.btn Сохранить