#js-modal-review.review-dialog.dialog
    .review-dialog__head 
        .review-dialog__initial-info
            h4.review-dialog__date Заказ от 10.08.2024
            span.review-dialog__number №699087

        .review-dialog__products
            ul
                li
                    .img-container
                        img(src="/src/assets/upload/section.png")
                li
                    .img-container
                        img(src="/src/assets/upload/section.png")
                li
                    .img-container
                        img(src="/src/assets/upload/section.png")
            span.right-more Еще
    .review-dialog__main(data-order-review)
        include /components/star-rating
        p.review-dialog__main-question(data-order-review-text) Вам понравился заказ?
        .review-dialog__form 
            h4.review-dialog__form-text Что вам понравилось?
            .mb-3
                +textarea('Достоинства', '', 4, '')
            .mb-3
                +textarea('Недостатки', '', 4, '')
            .mb-3
                +textarea('Комментарий', '', 4, '')

            .mt-1
                +checkbox('Соглашаюсь с условиями обработки данных и политикой конфиденциальности', 'review-dialog__checkbox')

            .mt-4
                button.btn(data-fancybox data-src="#js-modal-success") Отправить