#js-modal-auth.dialog
    .dialog__title Личный кабинет
    .dialog__cont
        form(data-validate-form)
            .mb-3
                +textfield('Введите номер телефона или логин', '+7 000 000 00', true)
            .mb-3
                +passwordfield('Пароль', '*******', true)
            .mt-4
                button.btn(type="submit").btn-auth Войти