#js-modal-installment.installment-dialog
    h3.installment-dialog__title Оформить в рассрочку
    p Наш менеджер свяжется с вами для уточнения деталей
    .installment-dialog__form
        +textfield('Имя', 'Иван')
        +textphone('Телефон', '+7 000 000 00', true)
        +textfield('E-mail', 'qwerty@gmail.ru')
        +textarea('Регистрационное удостоверение ', '', 4, '')
        +textarea('Комментарий ')
        +checkbox('Соглашаюсь с условиями обработки данных и политикой конфиденциальности', 'review-dialog__checkbox')
        button.btn(data-fancybox data-src="#js-modal-success") Оставить заявку
