// variables
$black-color: #1C1C1E;
$blue-color: #295365;
$primary-color: #6CB3EE;
$red-color: #8A0800;
$white-color: #FFF;
$yellow-color: #FBB700;
$blue-color: #4C7DA7;
$blue-color-dark: #47587B;
$gray-color: #DADEE5;
$grey-color: #6D6D6D;
$light-grey-color: #E6E6E6;
$grey-line: #E6E6E6;
$green-color: #50B86D;

:root {
    --black-color: #{$black-color};
    --blue-color: #{$blue-color};
    --blue-color-dark: #{$blue-color-dark};
    --gray-color: #{$gray-color};
    --grey-color: #{$grey-color};
    --light-grey-color: #{$light-grey-color};
    --grey-line: #{$light-grey-color};
    --body-bg: #F9F9FF;
    --font-default: "Manrope", serif;
    --font-title: "Onest", sans-serif;
    --font-size: 14px;
    --font-weight: 500;
    --gutter-x: 40px;
    --line-height: 1.3;
    --primary-color: #{$primary-color};
    --red-color: #{$red-color};
    --text-color: #{$black-color};
    --transition-speed: 0.3s;
    --white-color: #{$white-color};
    --yellow-color: #{$yellow-color};
    --green-color: #{$green-color};

    font-size: 16px;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-grey {
    color: var(--grey-color);
}

.text-green {
    color: var(--green-color);
}

.text-red {
    color: var(--red-color);
}