section.section.my-0.section_about 
    h2.section__title.h1 Группа компаний Дентекс

    .row
        div
            .about-grid
                .about-grid__item
                    .about-grid__item-name 30+ лет #[br] на рынке
                    img.about-grid__item-img(src="/src/assets/upload/about/1.png", alt="")
                .about-grid__item
                    .about-grid__item-name Лизинг оборудования
                    img.about-grid__item-img(src="/src/assets/upload/about/2.png", alt="")
                .about-grid__item
                    .about-grid__item-name Бесплатная доставка
                    img.about-grid__item-img(src="/src/assets/upload/about/3.png", alt="")
                .about-grid__item
                    .about-grid__item-name Сервисный центр
                    img.about-grid__item-img(src="/src/assets/upload/about/4.png", alt="")

        div
            div.about__right-item
                div
                    .bordered-text Лидеры
                    p Группа компаний «Дентекс» – один из крупнейших поставщиков медицинского, стоматологического оборудования, инструментов и расходных материалов в России от общепризнанных мировых производителей

                div.img-wrapper
                    img(src="/src/assets/upload/about/right-1.jpg")


            div.about__right-item
                div.img-wrapper
                    img(src="/src/assets/upload/about/right-2.png")

                div
                    .bordered-text Что сейчас?
                    p В настоящее время «Дентекс» работает с более чем 50-ю крупнейшими фирмами-производителями медицинского оборудования из 20 стран мира. Основное отличие нашей компании – возможность выбора линейки оборудования и услуг

            .d-flex
                a.btn.w-100(href="#" title="Подробнее о компании") Подробнее о компании
