.categories-slider-wrapper
    .categories-slider.js-categories-slider
        .categories-slider__wrapper
            .categories-slider__item
                a.category-slider-item(href="#" title="КТ и рентгены")
                    .category-slider-item__cont 
                        .category-slider-item__actions
                            .btn.btn_sm.btn_bordered.category-slider-item__more
                                | подробнее
                                <svg class="icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 18L16 13L11 8V18Z" fill="currentColor"/>
                                </svg>
                                
                        .category-slider-item__name КТ и рентгены

                        img.category-slider-item__img(src="/src/assets/upload/section.png", alt="КТ и рентгены")

            
            .categories-slider__item
                a.category-slider-item(href="#" title="Оборудование")
                    .category-slider-item__cont 
                        .category-slider-item__actions
                            .btn.btn_sm.btn_bordered.category-slider-item__more
                                | подробнее
                                <svg class="icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 18L16 13L11 8V18Z" fill="currentColor"/>
                                </svg>
                                
                        .category-slider-item__name Оборудование

                        img.category-slider-item__img(src="/src/assets/upload/section.png", alt="Оборудование")

            .categories-slider__item 
                a.category-slider-item.category-slider-item_primary(href="#" title="Аппараты")
                    .category-slider-item__cont 
                        .category-slider-item__actions
                            .btn.btn_sm.btn_bordered.category-slider-item__more
                                | подробнее
                                <svg class="icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 18L16 13L11 8V18Z" fill="currentColor"/>
                                </svg>
                                
                        .category-slider-item__name Аппараты

                        img.category-slider-item__img(src="/src/assets/upload/section.png", alt="Аппараты")

            .categories-slider__item 
                a.category-slider-item(href="#" title="Инструменты") 
                    .category-slider-item__cont 
                        .category-slider-item__actions
                            .btn.btn_sm.btn_bordered.category-slider-item__more
                                | подробнее
                                <svg class="icon" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 18L16 13L11 8V18Z" fill="currentColor"/>
                                </svg>
                                
                        .category-slider-item__name Инструменты

                        img.category-slider-item__img(src="/src/assets/upload/section.png", alt="Инструменты")
