.reviews-slider-wrapper
    .reviews-slider.js-reviews-slider
        .reviews-slider__wrapper
            - for (let i = 0; i < 4; i++)
                .reviews-slider__item
                    .reviews-slider-item
                        img.reviews-slider-item__quote(src="/src/assets/quote.svg", alt="quote")

                        .reviews-slider-item__head
                            .reviews-slider-item__avatar-wrapper
                                picture.reviews-slider-item__avatar
                                    source(srcset="/src/assets/upload/avatar-mobile.png", media="(max-width: 575.98px)")
                                    source(srcset="/src/assets/upload/avatar-review.png", media="(min-width: 576px)")
                                    img(src="/src/assets/upload/avatar-review.png", alt="")

                        .reviews-slider-item__cont
                            .reviews-slider-item__text 
                                p Открывая первый филиал клиники, я решил взять оборудование в лизинг, чтобы снизить риски. Дентекс оказался отличным партнером: оборудование качественное, а условия лизинга – прозрачные и удобные. Это помогло мне начать бизнес без больших вложений.
                                p Команда Дентекс поддерживала на каждом этапе, от выбора  до оформления. 
                                p Рекомендую эту компанию всем, кто ищет надежного поставщика с гибкими условиями.

                        .reviews-slider-item__bottom
                            .reviews-slider-item__avatar-wrapper
                                picture.reviews-slider-item__avatar
                                    source(srcset="/src/assets/upload/avatar-mobile.png", media="(max-width: 575.98px)")
                                    source(srcset="/src/assets/upload/avatar-review.png", media="(min-width: 576px)")
                                    img(src="/src/assets/upload/avatar-review.png", alt="")
                            .reviews-slider-item__head-cont
                                .reviews-slider-item__name Комиссаров Евгений
                                .reviews-slider-item__date 03.08.2024

            .reviews-slider__item
                .reviews-slider-item.special
                    img.reviews-slider-item__quote(src="/src/assets/quote.svg", alt="quote")

                    img.reviews-slider-item__bg(src="/src/assets/upload/review-special.jpg" alt="")

                    .reviews-slider-item__cont
                        .reviews-slider-item__text
                            p Рекомендую эту компанию всем, кто ищет надежного поставщика с гибкими условиями.

                    .reviews-slider-item__bottom
                        .reviews-slider-item__head-cont
                            .reviews-slider-item__name Комиссаров Евгений
                            .reviews-slider-item__date 03.08.2024

            - for (let i = 0; i < 4; i++)
                .reviews-slider__item
                    .reviews-slider-item
                        img.reviews-slider-item__quote(src="/src/assets/quote.svg", alt="quote")

                        .reviews-slider-item__head
                            .reviews-slider-item__avatar-wrapper
                                picture.reviews-slider-item__avatar
                                    source(srcset="/src/assets/upload/avatar-mobile.png", media="(max-width: 575.98px)")
                                    source(srcset="/src/assets/upload/avatar-review.png", media="(min-width: 576px)")
                                    img(src="/src/assets/upload/avatar-review.png", alt="")

                        .reviews-slider-item__cont
                            .reviews-slider-item__text
                                p Открывая первый филиал клиники, я решил взять оборудование в лизинг, чтобы снизить риски. Дентекс оказался отличным партнером: оборудование качественное, а условия лизинга – прозрачные и удобные. Это помогло мне начать бизнес без больших вложений.
                                p Команда Дентекс поддерживала на каждом этапе, от выбора  до оформления.
                                p Рекомендую эту компанию всем, кто ищет надежного поставщика с гибкими условиями.

                        .reviews-slider-item__bottom
                            .reviews-slider-item__avatar-wrapper
                                picture.reviews-slider-item__avatar
                                    source(srcset="/src/assets/upload/avatar-mobile.png", media="(max-width: 575.98px)")
                                    source(srcset="/src/assets/upload/avatar-review.png", media="(min-width: 576px)")
                                    img(src="/src/assets/upload/avatar-review.png", alt="")
                            .reviews-slider-item__head-cont
                                .reviews-slider-item__name Комиссаров Евгений
                                .reviews-slider-item__date 03.08.2024


    .slider-action._prev.reviews-slider-action.js-reviews-slider-prev
        svg(width="7" height="14" viewBox="0 0 7 14" fill="none")
            path(d="M7 0L0 7L7 14L4.9 7L7 0Z" fill="#4C7DA7")
    .slider-action._next.reviews-slider-action.js-reviews-slider-next
        svg(width="7" height="14" viewBox="0 0 7 14" fill="none")
            path(d="M0 14L7 7L0 0L2.1 7L0 14Z" fill="#4C7DA7")