.image-slider.js-image-slider
    .image-slider__wrapper 
        - for (let i = 0; i < 3; i++)
            .image-slider__item
                a.image-slider__link(href="#" title="Slide " + i target="_blank" rel="noopener noreferrer")
                    picture
                        source(media="(max-width: 768px)" srcset="/src/assets/upload/slide-mobile.png")
                        img.image-slider__img(src="/src/assets/upload/slide.png", alt="slide " + i)

    .slider-action.slider-action_sm.__long._prev.image-slider-action.js-image-slider-prev
        <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 0L0 7L7 14L4.9 7L7 0Z" fill="#4C7DA7"/>
        </svg>

    .slider-action.slider-action_sm.__long._next.image-slider-action.js-image-slider-next
        <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 14L7 7L0 0L2.1 7L0 14Z" fill="#4C7DA7"/>
        </svg>

    .d-flex.justify-content-center
        .pagination.image-slider__pagination.js-image-slider-pagination

