.product-super-short
    - for (let i = 0; i < 2; i++)
        .product-super-short__item
            img.product-super-short__item-img(src="/src/assets/upload/product-item.png" alt)

    .product-super-short__item.product-super-short__item_more
        img.product-super-short__item-img(src="/src/assets/upload/product-item.png" alt)
        .product-super-short__item-info +3