section.question-man
    h2.question-man__title Остались <br>вопросы?
    .question-man__main
        p.question-man__text Подробно расскажем о продукции и услугах, подберем оптимальный вариант и предложим лучшие цены!
        button.btn(data-fancybox data-src="#js-modal-feedback") Получить консультацию