.product-item 
    .product-item__head
        a.product-item__img-wrapper(href="/product.html")
            img.product-item__img(src="/src/assets/upload/product-item.png" alt="KLT-6210 N1 Lower")

        .product-item__head-info
            if (i && i % 3 === 1)
                .product-item__chip.product-item__chip_new Новинка

            if (i && i % 4 === 1)
                .product-item__chip.product-item__chip_exclusive 
                    <svg class="icon" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.51455 22.0013C11.6021 22.0013 14.2766 20.7388 15.5948 18.896C21.2489 12.4749 15.1569 4.47371 15.1569 4.47371C16.6167 10.1804 8.44156 9.83466 11.7875 6.28303C15.1335 2.7314 11.5072 0 11.5072 0C13.843 3.364 7.48535 1.77582 5.93499 4.29546C4.13499 7.2212 4.62112 11.317 2.93353 11.711C1.24594 12.105 1.45761 9.92446 1.45761 9.92446C-2.53217 17.1617 2.93353 20.3595 2.93353 20.3595C4.37003 21.3741 6.34083 22.0013 8.51601 22.0013" fill="#FF3A03"/>
                        <path d="M8.85564 21.7387C12.5359 21.7387 15.5199 19.2994 15.5199 16.2919C15.5192 15.6397 15.3773 14.9942 15.1024 14.3928C15.1024 14.3928 13.8863 16.8709 10.2732 16.2919C6.47754 15.6821 6.62352 9.86816 6.62352 9.86816C6.48775 11.0369 6.18556 12.5902 5.96659 13.7549C5.8206 14.5094 5.38265 15.8617 4.41768 16.0909C3.45272 16.3201 2.86002 15.4797 2.65564 14.7506C2.62681 14.6478 2.60439 14.5436 2.58849 14.4384C2.32621 15.0267 2.19133 15.6563 2.19141 16.2919C2.19141 19.2994 5.17535 21.7387 8.85564 21.7387Z" fill="#FBB700"/>
                        <path d="M8.85145 21.3661C11.0047 21.3661 12.7507 19.9401 12.7507 18.1803C12.7508 17.8607 12.6915 17.5435 12.5755 17.2422C11.8266 18.0463 10.7201 18.6427 9.57846 18.5355C8.59305 18.443 7.99305 17.8654 7.53466 17.1631C7.37992 17.8332 7.08794 18.5033 6.42079 18.7365C5.83685 18.9416 5.3405 18.7298 4.96094 18.3666C5.08065 20.0379 6.77699 21.3621 8.85145 21.3621" fill="#FFDFAB"/>
                    </svg>
                    | Эксклюзив

            if (i && i % 2 === 1)
                .product-item__chip.product-item__chip_discount Скидка 15%
        
        .product-item__head-actions._hide-on-list
            button.product-item__head-action(data-toggle-action data-toggle-favorite)
                <svg class="icon" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.1804 17.18C16.1589 19.1097 14.0977 20.5144 13.5045 20.9049C12.9079 20.511 10.847 19.1068 8.82584 17.1785C7.67549 16.081 6.55125 14.8262 5.7174 13.5036C4.88148 12.1778 4.35938 10.8187 4.35938 9.50279C4.35938 7.05799 6.43034 5.03711 9.01604 5.03711C10.7005 5.03711 12.2557 5.92664 13.0714 7.31175L13.5027 8.04426L13.9333 7.31131C14.7489 5.92311 16.3001 5.03711 17.9847 5.03711C20.5744 5.03711 22.6451 7.05822 22.6451 9.50279C22.6451 10.8188 22.1232 12.1781 21.2876 13.5043C20.4541 14.8271 19.3303 16.0823 18.1804 17.18Z" stroke="currentColor"/>
                </svg>

    .product-item__cont
        .product-item__middle
            .product-item__price
                | 80 500 ₽
                .product-item__price-old 95 500 ₽

            .product-item__title
                a(href="/product.html") KLT-6210 N1 Lower

            .product-item__desc Стоматологическая установка с нижней подачей #{i}

            .product-item__settings._hide-on-grid
                .product-item__settings-item
                    span.product-item__settings-item-name Регистрационное удостоверение:
                    | ФСЗ 2008/03029
                .product-item__settings-item
                    span.product-item__settings-item-name Тип монтажа:
                    | Напольный
                .product-item__settings-item
                    span.product-item__settings-item-name Гарантия:
                    | 36 мес.

    
        .product-item__bottom
            .product-item__reviews
                .product-item__reviews-star
                    <svg class="icon" width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.6902 0.69205L12.9051 4.88386L17.8574 5.55589C18.9471 5.70401 19.3838 6.95593 18.5947 7.67483L15.0102 10.9375L15.8562 15.5445C16.0425 16.5593 14.9021 17.3331 13.9266 16.854L9.49673 14.6788L5.06718 16.854C4.0922 17.3331 2.95119 16.5593 3.13758 15.5445L3.98352 10.9375L0.399048 7.67483C-0.39011 6.95593 0.0454757 5.70401 1.13602 5.55589L6.08861 4.88386L8.30353 0.69205C8.79446 -0.230683 10.2024 -0.230683 10.6902 0.69205Z" fill="currentColor"/>
                    </svg>
                .product-item__reviews-rating 4.8
                .product-item__reviews-count 276 оценок

            ._hide-on-grid
                .product-item__price
                    | 80 500 ₽
                    .product-item__price-old 95 500 ₽

            .product-item__actions
                ._hide-on-grid
                    button.product-item__head-action(data-toggle-action data-toggle-favorite)
                        <svg class="icon" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.1804 17.18C16.1589 19.1097 14.0977 20.5144 13.5045 20.9049C12.9079 20.511 10.847 19.1068 8.82584 17.1785C7.67549 16.081 6.55125 14.8262 5.7174 13.5036C4.88148 12.1778 4.35938 10.8187 4.35938 9.50279C4.35938 7.05799 6.43034 5.03711 9.01604 5.03711C10.7005 5.03711 12.2557 5.92664 13.0714 7.31175L13.5027 8.04426L13.9333 7.31131C14.7489 5.92311 16.3001 5.03711 17.9847 5.03711C20.5744 5.03711 22.6451 7.05822 22.6451 9.50279C22.6451 10.8188 22.1232 12.1781 21.2876 13.5043C20.4541 14.8271 19.3303 16.0823 18.1804 17.18Z" stroke="currentColor"/>
                        </svg>

                button.btn.product-item__btn(data-toggle-action data-add-to-basket)
                    .product-item__btn-icon.btn__icon
                        +svgIcon('cart')
                    .product-item__btn-text.btn__text В корзину

                a.btn.btn_bordered.product-item__btn(href="/basket.html")
                    .product-item__btn-icon.btn__icon
                        +svgIcon('cart')
                    .product-item__btn-text.btn__text Перейти в корзину
            