.product-top
    .product-top__slider
        .product-slider
            .product-slider__main
                .product-slider__main-enternal
                    .product-main-slider.js-product-main-slider
                        .product-main-slider__wrapper
                            - for (let i = 0; i < 8; i++)
                                .product-main-slider__item
                                    a.product-main-slider__link(href="/upload/detail/" + i % 4 + ".png" title data-fancybox="product-images")
                                        img.product-main-slider__img(src="/src/assets/upload/detail/" + i % 4 + ".png" alt)

                        .slider-action.slider-action_sm._prev.product-main-slider-action.js-image-slider-prev
                            <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 0L0 7L7 14L4.9 7L7 0Z" fill="#4C7DA7"/>
                            </svg>

                        .slider-action.slider-action_sm._next.product-main-slider-action.js-image-slider-next
                            <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 14L7 7L0 0L2.1 7L0 14Z" fill="#4C7DA7"/>
                            </svg>

            .product-slider__thumbs
                .product-slider__thumbs-enternal
                    .product-thumbs-slider.js-product-thumbs-slider
                        .product-thumbs-slider__wrapper
                            - for (let i = 0; i < 8; i++)
                                .product-thumbs-slider__item
                                    .product-thumbs-slider__link(data-thumb-slider)
                                        img.product-thumbs-slider__img(src="/src/assets/upload/detail/" + i % 4 + ".png" alt)

    .product-top__content 
        .product-top__content-enternal
            .product-top__content-main
                .product-top__warranty
                    img.product-top__warranty-icon(src="/src/assets/warranty.svg", alt="")
                    | Гарантия 3 года

                .product-settings
                    .product-settings__title 
                        span Регистрационное удостоверение
                    .product-settings__value ФСЗ 2008/03029
                .product-settings
                    .product-settings__title 
                        span Производитель
                    .product-settings__value Foshan Roson Medical Instruments Co
                .product-settings
                    .product-settings__title
                        span Страна
                    .product-settings__value Китай

                div.product-color
                    h2 Цвет
                    select.product-select
                        option(value="" disabled selected hidden) Выберите вариант
                        each item, index in [1, 2, 3]
                            option(value=index + 1)= item

            .product-top__content-sidebar
                .product-top__actions
                    .d-flex.flex-column
                        .product-top__price 17 490 ₽
                        .product-top__availability
                            if (notAvailable)
                                span.text-red Нет в наличии
                            else 
                                span.text-green В наличии

                    if (notAvailable)
                        .product-top__action
                            button.btn.product-item__btn.d-flex(data-fancybox data-src="#js-modal-notify")
                                .product-item__btn-icon
                                    +svgIcon('bell')
                                .product-item__btn-text Уведомить
                    else 
                        .product-top__action
                            button.btn.product-item__btn(data-toggle-action data-add-to-basket)
                                .product-item__btn-icon.btn__icon
                                    +svgIcon('cart')
                                .product-item__btn-text.btn__text В корзину

                            a.btn.btn_bordered.product-item__btn(href="/basket.html")
                                .product-item__btn-icon.btn__icon
                                    +svgIcon('cart')
                                .product-item__btn-text.btn__text Перейти в корзину

                        .product-top__action
                            btn.btn.btn_bordered Оформить в рассрочку

                .product-top__attention Мощный переносной хирургический отсасыватель Армед 7E-D с вакуумным безмасляным компрессором поршневого типа.
