.products-slider-wrapper
    .products-slider.js-products-slider
        .products-slider__wrapper
            - for (let i = 0; i < 4; i++)
                .products-slider__item
                    include /components/catalog/product-item