.filter-range
    .filter-range__wrap
        label.filter-range__input-wrapper
            span.filter-range__input-prepend от
            input.filter-range__input(type="text" data-start-input)
        .filter-range__input-wrapper
            span.filter-range__input-prepend до
            input.filter-range__input(type="text" data-end-input)