.reviews-section
    .reviews-section__content 
        .mb-4
            include /components/catalog/catalog-sort
        
        .reviews-list
            - for (let i = 0; i < 3; i++)
                include /components/catalog/review-item

        .mt-3.d-flex
            a.btn.btn_bordered.btn_sm.reviews-section__more(href="#" title="Показать ещё") Показать ещё
    
    .reviews-section__sidebar
        .mb-3.d-flex.align-items-center
             include /components/star-rating
             .h1.m-0.ms-3 4.8

        .mb-3.text-grey Рейтинг формируется на основе актуальных отзывов

        a.btn(href="#js-modal-add-review" title="Оставить отзыв" data-fancybox) Оставить отзыв

