.review-item
    .review-item__avatar-wrap
        img.review-item__avatar(src="/src/assets/upload/avatar.png", alt="")

    .review-item__content
        .review-item__head
            .review-item__name Александра
            .review-item__rating 
                include /components/star-rating

        .review-item__desc
            .review-item__desc-title Достоинства
            .review-item__desc-text Качество сборки: Установка выполнена из прочных и надежных материалов, что гарантирует долгий срок службы.
        .review-item__desc
            .review-item__desc-title Недостатки
            .review-item__desc-text Цена: Для некоторых покупателей стоимость может показаться высокой, но она оправдана качеством и функциональностью.
        .review-item__desc
            .review-item__desc-title Комментарий
            .review-item__desc-text В целом, стоматологическая установка Foshan Roson KLT-6210 N1 Lower является отличным выбором для профессионалов, стремящихся к качеству и комфорту в работе

        .review-item__bottom
            include /components/catalog/vote-block
