.review-item
    .review-item__content
        .review-item__head
            .review-item__name Александра
            .review-item__rating 
                include /components/star-rating

        .review-item__desc
            .review-item__desc-title Комментарий
            .review-item__desc-text В целом, стоматологическая установка Foshan Roson KLT-6210 N1 Lower является отличным выбором для профессионалов, стремящихся к качеству и комфорту в работе
