.row 
    - for (let j = 0; j < 3; j++)
        .col-12.col-lg-4
            .sections-list
                - for (let i = 0; i < 3; i++)
                    .sections-list__item
                        .sections-list-item
                            .sections-list-item__content
                                .sections-list-item__title
                                    a(href="/category.html" title="Стоматологическое оборудование") Стоматологическое оборудование !{i} 
                                .sections-list-item__list(data-category-more-list)
                                    - for (let j = 0; j < 15; j++)
                                        .sections-list-item__list-item(data-more-item='false')
                                            a.sections-list-item__list-link(href="/category.html" title="Стоматологические установки") Стоматол огические установки !{j} 

                                .sections-list-item__more(data-show-more)
                                    span(data-text-show) Еще... 
                                    span(data-text-hide) Скрыть

                            img.sections-list-item__img(src="/src/assets/upload/categories-img.png" alt="Стоматологическое оборудование")
